body{
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  
}

.box {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  font-size: 20px;
  background-color: black;
  border-radius: 50%;
  padding: 10px;
}

.app-title {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

.time-display {
  font-size: 40px;
  font-weight: bold;
  background-color: white;
  color: black;
}

button {
  margin: 5px;
  padding: 4px 4px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
